<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('FTC')" data-ng-class="{active: currency.symbol == 'FTC'}">FTC</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mFTC')" data-ng-class="{active: currency.symbol == 'mFTC'}">mFTC</a>
  </li> 
  <li>
  <a href="#" data-ng-click="setCurrency('bits')" data-ng-class="{active: currency.symbol == 'bits'}">bits</a>
  </li>
</ul>

